1. What are data structures, and why are they important?
   - Data structures are specialized formats for organizing, storing, and accessing data. They act like containers that hold data and define how we can interact with it.
   Data structures are important because, choosing the right data structure can greatly improve the performance of a program. It helps to:
    - Simplify tasks like adding, removing, or updating data.
    - Make searching and sorting faster.
    - Use memory more efficiently.

2.  Explain the difference between mutable and immutable data types with examples.
    - Mutable data types can be changed or modified after they are defined, while immutable data types cannot be modified once they are created.
    - For example, lists are mutable because we can add or delete elements after defining them.
    - Tuples, on the other hand, are immutable because we cannot add or remove elements from them once they are created.

3. What are the main differences between lists and tuples in list?
   - Here are the differences between the lists and the tuples.
     - Lists are mutable, meaning their elements can be modified, added, or removed after the list is created, tuples are immutable, meaning once they are created, their elements cannot be altered.
     - Becuase of mutability lists are more flexible and slower than tuples, and  tuples, being immutable, are generally faster and use less memory
     
4. Describe how dictionaries store data?
   - Dictionaries store data as key - value pairs. Each key is unique, and it maps to a corresponding value. Key must be immutable, while values can be of any types.
   -Exmaple: my_dict = {"name" : "Anuruddh", "age" : 23, "city" : "Banglore"}.


5.  Why might you use a set instead of a list in Python?
    - We can use set when we want to remove duplicate elments and sets do not preserve any specific order of elements, making them ideal when the order of items is not important.

6. What is a string in Python, and how is it different from a list?
   - String is the sequence of character, where each charecter represents the textual data, string is different from list becuase strings are immutable, meaning once a string is created, its content cannot be changed. List in Python is a collection of items that can include different data types such as numbers, strings, or even other lists. Lists are enclosed in square brackets and are mutable, meaning you can change, add, or remove elements after the list is created.

7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity in Python because they are immutable, meaning their elements cannot be changed, added, or removed after creation. This immutability protects the data from accidental changes and ensures it remains consistent throughout the program.

8.  What is a hash table, and how does it relate to dictionaries in python?
    - A hash table is a data structure that stores key-value pairs and allows for fast access to values based on their keys. It uses a hash function to convert the key into an index in an array.
    - In Python, a dictionary is an implementation of a hash table. When you create a dictionary and assign a value to a key, Python uses a hash function to store and retrieve the value quickly using that key.

9.  Can lists contain different data types in Python?
    - Yes, lists in Python can contain different data types. Python lists are heterogeneous, meaning a single list can store elements like integers, floats, strings, booleans, and even other lists or complex objects.
           

10. Explain why strings are immutable in Python.
    - In Python, strings are immutable because once a string is created, its content cannot be changed.
    - Strings can be used as keys in dictionaries because they are immutable. If strings could change, it would break the internal structure of hash tables, making key lookups unreliable.
    - Immutability ensures that string data remains unchanged accidentally, especially when passed between functions or shared across different parts of a program.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries are better than lists when we need to quickly find data using a name or label. They store data in key-value pairs, making it easier to organize and access. Unlike lists, where we search by position, dictionaries let you search by a unique key, which is faster and more clear.

12. Describe a scenario where using a tuple would be preferable over a list.
    - A tuple is better than a list when we want to store a collection of items that should not change. For example, if we are storing the coordinates of a point like (10, 20), a tuple is better because the x and y values are fixed. Tuples are faster and take less memory than lists, and using them shows that the data is meant to stay the same.

13. How do sets handle duplicate values in Python?
    - In Python, sets do not allow duplicate values. If we try to add the same value more than once, the set will keep only one copy. This means every item in a set is unique.

14. How does the “in” keyword work differently for lists and dictionaries?
    - In Python, the word "in" is used to check if something exists. In a list, it checks if a value is in the list. For example, it can check if "apple" is one of the items in a fruit list. In a dictionary, it checks if a key is in the dictionary, not the value. So if we check for "name" in a dictionary, it will say yes if "name" is one of the keys. But checking for the value like "Alice" will say no unless it's a key.

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, we cannot modify the elements of a tuple in Python. This is because tuples are immutable, which means their values cannot be changed after they are created. Once we make a tuple, we cannot add, remove, or change its items. This helps protect data that should stay the same, like dates or coordinates. If you need a collection that can change, it's better to use a list.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary where values are also dictionaries. It's used to store more complex or grouped data.
      - Example: students = {"101": {"name": "Alice", "age": 20}}
    - A nested dictionary is useful when we want to store related data together, like student records where each student ID maps to another dictionary holding their details.

17. Describe the time complexity of accessing elements in a dictionary?
    - Accessing elements in a dictionary has an average time complexity of O(1), meaning it takes constant time to look up a value using a key. This is because dictionaries in Python are implemented using hash tables, which allow direct access to elements by computing the hash of the key.

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred over dictionaries when we need to preserve order, store simple collections without keys, iterate over elements, or allow duplicates. They're best for situations where key-value pairs are not necessary.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries are considered unordered because elements are accessed by keys, not positions. While Python maintains insertion order, dictionaries are optimized for fast key-based access, not for preserving order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - In a list, data is retrieved by its index, meaning we access elements based on their position in the list. In a dictionary, data is retrieved by key. Each key is unique, and we use it to directly access its associated value. This method is more efficient, with an average time complexity of O(1) for lookups, making it faster than accessing elements by index in a list.

In [1]:
# 1. Write a code to create a string with your name and print it?
name = "Anuruddh Singh"
print(name)

Anuruddh Singh

In [2]:
# 2. Write a code to find the length of the string "Hello World"?
print(len("Hello World"))

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
s[0:3]

'Pyt'

In [6]:
# 4. Write a code to convert the string "hello" to uppercase?
s = "hello"
s_upper = s.upper()
print(s_upper)

HELLO

In [9]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = 'I like apple'
text.replace('apple','orange')

'I like orange'

In [10]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [11]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [12]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [13]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lst = ['a','b','c','d']
second_element=lst[1]
print(second_element)

b

In [17]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
reversed_lst = lst[::-1]
print(reversed_lst)

[50, 40, 30, 20, 10]

In [18]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

In [19]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tpl = ('red', 'green', 'blue', 'yellow')
tpl[1:]

('green', 'blue', 'yellow')

In [21]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tple = (10, 20, 5, 15)
min_number = min(tple)
print(min_number)

5

In [22]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tple = ('dog', 'cat', 'rabbit')
indx = tple.index('cat')
print(indx)

1

In [2]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana','kiwi')
if 'kiwi' in fruits:
  print('kiwi is  present in tuple')
else:
  print('kiwi is not present in tuple')

kiwi is  present in tuple

In [3]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a','b','c'} # created set s
print(s)

{'c', 'b', 'a'}

In [5]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [7]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4) #Removes 4 from the set s.
print(s)

{1, 2, 3}

In [9]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = s1 | s2 # Union of set s1 and s2.
print(s3)

{1, 2, 3, 4, 5}

In [10]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1,2,3}
s2 = {3,4,5}
s3 = s1 & s2 # Union of the set s1 and s2
print(s3)

{3}

In [11]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {'name': "Anuruddh Singh", 'age':23, 'city':'Kolkata'}
print(my_dict)

{'name': 'Anuruddh Singh', 'age': 23, 'city': 'Kolkata'}

In [13]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [15]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
my_dict['name']

'Alice'

In [18]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [20]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
if 'city' in d.keys():
  print('The key city exixts')
else:
  print('The key does not exists')

The key city exixts

In [21]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1,2,3,4] # list created
tple = (1,2,3,4) # Tuple created
my_dict = {"name":'Anuruddh Singh', 'age':23} # Dictionary created
print(lst)
print(tple)
print(my_dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Anuruddh Singh', 'age': 23}

In [22]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[40, 50, 51, 82, 92]

In [25]:
#28. Write a code to create a list with strings and print the element at the third index.
lst = ['name','apple','fruits','marks','age']
print(lst[3]) # prints the element at the third index.

marks

In [27]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "Aman", "age": 25}
dict2 = {"city": "Banglore", "country": "India"}
dict1.update(dict2) # Combine dictionaries using the update() method
print(dict1)

{'name': 'Aman', 'age': 25, 'city': 'Banglore', 'country': 'India'}

In [28]:
#30. Write a code to convert a list of strings into a set.
strings = ["apple", "banana", "cherry", "apple", "banana"]
unique_strings = set(strings)
print(unique_strings)

{'cherry', 'apple', 'banana'}